:root {
    --couleur-principale: #2a4e89;
    --couleur-secondaire: #3564ae;
    --blanc-generation: #dee2e6;
    --orange-text: #ffce01;
    --couleur-pokedex-generation: #4f7ec9;
    --couleur-text: #212529;
    --couleur-bouton: #28a745;
    --couleur-suppression: #ce416b;
}

body {
    background-color: var(--couleur-principale);
}

main {
    display: flex;
}

/* Formulaire dresseur */

#dresseurForm button {
    padding: 8px 10px;
    font-size: 10px;
    background-color: var(--couleur-bouton);
    color: #fff;
    border: none;
    cursor: pointer;
}

#dresseurForm button:hover {
    background-color: var(--orange-text);
}

#croixForm {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: large;
    font-weight: bolder;
}

#croixForm:hover {
    color: red;
    transition: 0.3s;
}

#btnLogout {
    display: none;
}

/* Affichage des pokemon */
#pokemonGeneration {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 1rem;
    position: relative;
}

#pokemonGeneration div {
    margin-bottom: 0.8rem;
    position: relative;
}

#pokemonGeneration div img {
    margin: auto;
    background-color: var(--couleur-secondaire);
    border-radius: 5px;
}

#pokemonGeneration div p {
    margin: 0 auto 0 auto;
}

#btnTeam {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--couleur-bouton);
    border: none;
    border-radius: 3px;
}

#btnLogout {
    background-color: var(--couleur-suppression);
    border: none;
    border-radius: 3px;
}

/* Affichage des génération */

#containerGeneration {
    display: flex;
    justify-content: center;
    height: 4rem;
    text-align: center;
    align-items: center;
}

#containerGeneration div {
    width: 100%;
}

#containerGeneration div p {
    margin: 0;
}

/* Style générale de la page */

hr {
    background-color: var(--blanc-generation);
    height: 1px;
    border: none;
    margin-bottom: 0;
}

section#left {
    width: 40%;
}

header {
    background-color: var(--couleur-secondaire);
    border-radius: 5px;
    margin-bottom: 1.5rem;
}

header #pokeTeam {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: no-wrap;
    width: fit-content;
}

header #pokeTeam li {
    width: fit-content;
    position: relative;
}

header #pokeTeam li img {
    width: 100%;
}

header #pokeTeam li button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--couleur-suppression);
    border: none;
    border-radius: 3px;
}

.generation,
.divSearch {
    background-color: var(--couleur-pokedex-generation);
    border-radius: 5px;
    margin-bottom: 1.5rem;
}

h2,
label {
    text-align: center;
}

h2 {
    color: var(--orange-text);
}

form {
    margin: auto;
    text-align: center;
}

.divSearch form input {
    width: 40%;
}

.generations {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 3rem;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 5px;
}

.generations:first-child {
    background-color: var(--blanc-generation);
}

#loadMoreButton {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--couleur-bouton);
    border-radius: 5px;
    color: var(--blanc-generation);
    border: none;
    width: 10%;
    height: 1.5rem;
}


/* Section de droite  */
#right {
    position: sticky;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 55%;
    height: 97vh;
    margin-left: 3%;
    background-color: var(--couleur-secondaire);
    border-radius: 5px;
}

#sliderPokemon {
    margin-top: 8rem;
    display: flex;
    height: 20%;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10rem;

}

#sliderPokemon img {
    width: 100%;
    background-color: var(--couleur-pokedex-generation);
    border-radius: 5px;
}

#sliderPokemon p {
    color: var(--orange-text);
}

#infoPokemon {
    display: flex;
    justify-content: space-around;
}

#displayedPokemon {
    width: 35%;
}

#prevPokemon,
#nextPokemon {
    width: 25%;
}

#prevPokemon,
#nextPokemon,
#displayedPokemon p {
    text-align: center;
}

/* liste type et weakness */
#infoPokemon ul {
    padding-left: 0;
    text-align: center;
}

#infoPokemon ul li {
    align-content: center;
}

.divType li {
    list-style: none;
    border-radius: 5px;
    height: 2rem;
    margin-bottom: 0.5rem;
}

.divWeakness li {
    list-style: none;
    border-radius: 5px;
    height: 2rem;
    margin-bottom: 0.5rem;
}

.divAbilities {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--couleur-pokedex-generation);
    border-radius: 5px;
    width: 35%;
    height: min-content;
}

.divAbilities ul {
    list-style: none;
    color: var(--blanc-generation);
}

.divAbilities ul li:first-child {
    color: var(--couleur-text);
}

.divAbilities #height {
    flex: 1;
    padding-left: 10px;
}

.divAbilities #weight {
    flex: 1;
}

.divAbilities #abilities {
    width: 100%;
    padding-left: 10px;
}

.divType,
.divWeakness {
    width: 25%;
}

#myChart {
    background-color: var(--couleur-pokedex-generation);
    border-radius: 5px;
    width: 60% !important;
    margin: auto;
}

#chartContainer {
    margin: auto;
    width: 50%;
}

/* Couleur des li selon leurs types */
.normal {
    background-color: #929da3;
}

.fighting {
    background-color: #ce416b;
}

.flying {
    background-color: #8fa9de;
}

.poison {
    background-color: #aa6bc8;
}

.ground {
    background-color: #da7a48;
}

.rock {
    background-color: #c5b78c;
}

.bug {
    background-color: #91c12f;
}

.ghost {
    background-color: #5269ad;
}

.steel {
    background-color: #5a8ea2;
}

.fire {
    background-color: #ff9d55;
}

.water {
    background-color: #5090d6;
}

.grass {
    background-color: #63bc5a;
}

.electric {
    background-color: #f4d23c;
}

.psychic {
    background-color: #fa7179;
}

.ice {
    background-color: #73cec0;
}

.dragon {
    background-color: #0b6dc3;
}

.dark {
    background-color: #5a5465;
}

.fairy {
    background-color: #ec8fe6;
}